<h1>Editing Skill Level</h1>

<%= render 'form', skill_level: @skill_level %>

<%= link_to 'Exibir', @skill_level, class: "btn btn-default" %> |
<%= link_to 'Voltar', skill_levels_path, class: "btn btn-default" %>
