<h1>Editing Team Requirement</h1>

<%= render 'form', team_requirement: @team_requirement %>

<%= link_to 'Exibir', @team_requirement, class: "btn btn-default" %> |
<%= link_to 'Voltar', team_requirements_path, class: "btn btn-default" %>
