<h1>Editing User Skill</h1>

<%= render 'form', user_skill: @user_skill %>

<%= link_to 'Exibir', @user_skill, class: "btn btn-default" %> 
<%= link_to 'Voltar', user_skills_path, class: "btn btn-default" %>
