<div class="container single-message">
  <%= image_tag("logo_2.png") %>

  <h1>Bem-Vindo ao QueroTime!</h3>

  <p>
    O QueroTime é a nova plataforma de organização de competições e eventos da Quero!
    Para acessar, basta clicar no botão abaixo e fazer login através do seu Slack.
  </p>

  <%= link_to image_tag("https://api.slack.com/img/sign_in_with_slack.png"), login_path %>
</div>
