<h1>Voce foi convidado!</h1>

<p>
  <strong>Usuário</strong>
  <%= @invitation.user.name %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @invitation.team.name %>
</p>

<%= link_to 'Aceitar', accept_invitation_path(@invitation), method: :post, class: "btn btn-default" %>
<%= link_to 'Voltar', invitations_path, class: "btn btn-default" %>
