// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  display: flex;

  > div {
    margin-top: 10px;
    margin-left: 4px;
  }

  .comment-avatar {
    flex: 0;
    display: block;
    width: 64px;
    height: 64px;
    background-color: #ccc;
  }

  .comment-name {
    font-weight: bold;
  }

  .comment-description {
    font-style: italic;
  }

}
